/* === STYLE UNTUK MODAL QR CODE (TAMBAHAN BARU) === */

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
    backdrop-filter: blur(5px);
}

.modal-content {
    padding: 30px;
    width: 90%;
    max-width: 400px;
    text-align: center;
    position: relative;
    border-radius: 20px;
}

.modal-close {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 2rem;
    color: var(--text-light);
    cursor: pointer;
    line-height: 1;
}

.modal-content h2 {
    margin-bottom: 10px;
}

.modal-content p {
    color: var(--text-light);
    font-size: 0.9rem;
    margin-bottom: 25px;
}

.qr-code-container {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    display: inline-block;
    margin-bottom: 20px;
}
#qrCanvas {
    width: 220px !important;
    height: 220px !important;
}

.qr-data-preview {
    font-size: 0.9rem;
    color: var(--text-color);
    line-height: 1.8;
    background: rgba(250, 248, 245, 0.5);
    padding: 10px 15px;
    border-radius: 8px;
    text-align: left;

}

.child-photo-large {
    width: 10%;
    height: 10%;
}
